#!/bin/bash
# source common functions
. common.bsh

CONTAINER_VERSION=13.0-4-35
RH_DOCKER_REGISTRY=registry.connect.redhat.com
DOCKER_REGISTRY_IP={{ director_ctlplane_ip }}
OVERCLOUD_IMAGES=../overcloud/overcloud_images.yaml

info "Upload and update Dell-EMC Unity docker image"



info "Logging in to ${RH_DOCKER_REGISTRY} using service account {{ registry_username }}"
docker login -u '{{ registry_username }}' -p {{ registry_password }} ${RH_DOCKER_REGISTRY} || abort "There was a problem logging into ${RH_DOCKER_REGISTRY}"

info "Downloading the dellemc/cinder-volume-dellemc docker image."
docker pull ${RH_DOCKER_REGISTRY}/dellemc/openstack-cinder-volume-dellemc:${CONTAINER_VERSION} || abort "Error downloading the dellemc/cinder-volume-dellemc docker image."

info "Tagging ${RH_DOCKER_REGISTRY}/dellemc/openstack-cinder-volume-dellemc:${CONTAINER_VERSION}"
docker tag ${RH_DOCKER_REGISTRY}/dellemc/openstack-cinder-volume-dellemc:${CONTAINER_VERSION} ${DOCKER_REGISTRY_IP}:8787/dellemc/openstack-cinder-volume-dellemc:latest || abort "Error tagging the docker image."

info "Pushing the dellemc/cinder-volume-dellemc docker image to the local docker registry ${DOCKER_REGISTRY_IP}:8787"
docker push ${DOCKER_REGISTRY_IP}:8787/dellemc/openstack-cinder-volume-dellemc || abort "Error pushing docker image to the local registry."

info "Updating overcloud_images.yaml to use the dellemc/openstack-cinder-volume-dellemc:latest image for cinder."
sed -e "s/rhosp13\/openstack-cinder-volume.*$/dellemc\/openstack-cinder-volume-dellemc:latest/g" -i ${OVERCLOUD_IMAGES} || abort "Error updating ${OVERCLOUD_IMAGES}"

exit $?
